@import "tailwindcss";



* {
  scroll-behavior: smooth;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  color: rgb(224, 224, 224);
  background-color: #232323;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.group:hover .absolute {
  transition: background-position 0.2s;
}
input:-webkit-autofill {
  background-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #232323 inset;
  box-shadow: 0 0 0px 1000px #232323 inset;
  -webkit-text-fill-color: rgb(224, 224, 224);
}

.opacity-0 {
  opacity: 0;
}

.animate-fade-in {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}


